/* src/components/tools/CategoryFilter.module.scss */

.filterIcon {
  color: #33e9f0;
  cursor: pointer; // Make the icon clickable
  margin-right: 990px; // Adjust the spacing as needed
  position: relative; // Adjust position as needed
  margin-bottom: 20px;
}

.dialog {
  .MuiDialog-paper {
    padding: 20px;
    border-radius: 8px;
  }
}

.formControl {
  margin-top: 10px;
}