/* src/components/tools/CategoryFilter.module.scss */

.filterIcon {
  color: #021213;
  cursor: pointer; 
  margin-right: 995px; 
  position: relative; 
  margin-bottom: 10px;
}

.dialog {
  .MuiDialog-paper {
    padding: 20px;
    border-radius: 8px;
  }
}

.formControl {
  margin-top: 10px;
}