.productManagement {
  h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .tableContainer {
    margin-top: 20px;
  }

  .productImage {
    width: 50px; /* Đặt kích thước cố định cho ảnh */
    height: 50px; /* Đặt kích thước cố định cho ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border-radius: 8px;
  }

  .actionButton {
    margin-right: 10px; /* Thêm khoảng cách giữa các nút */
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #31e1f8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px; /* Bo tròn đáng kể */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.paginationButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  border-radius: 20px; /* Đảm bảo trạng thái disabled cũng có bo tròn */
}

.paginationButton:hover:not(:disabled) {
  background-color: #b61ff1;
  transform: scale(1.05); /* Hiệu ứng phóng to nhẹ khi hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ */
}

.pageInfo {
  font-size: 16px;
}