.productManagement {
  h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .tableContainer {
    margin-top: 20px;
  }

  .productImage {
    width: 50px; /* Đặt kích thước cố định cho ảnh */
    height: 50px; /* Đặt kích thước cố định cho ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border-radius: 8px;
  }

  .actionButton {
    margin-right: 10px; /* Thêm khoảng cách giữa các nút */
  }
}